<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denis Novik</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="/scripts/script.js"></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <nav class="header_nav">
                <ul class="header_list">
                    <li class="header_item">
                        <a href="#!" class="header_link">Home</a>
                    </li>
                    <li class="header_item">
                        <a href="#!" class="header_link">About me</a>
                    </li>
                    <li class="header_item">
                        <a href="#!" class="header_link">Skills</a>
                    </li>
                    <li class="header_item">
                        <a href="#!" class="header_link">Portfolio</a>
                    </li>
                    <li class="header_item">
                        <a href="#!" class="header_link">Contacts</a>
                    </li>
                </ul>
            </nav>
            <div class="header_divider"></div>
        </header>
        <section class="intro">
            <div class="intro_person">
                <h1 class="intro_title">Denis Novik</h1>
                <h2 class="intro_info">UX | UI designer<br> 24 years old, Minsk</h2>
                <div class="intro_lang_buttons">
                    <button onclick="selectLang(event, 'RU')" class="intro_lang_toggle_ru">RU</button>
                    <div class="intro_button_divider">|</div>
                    <button onclick="selectLang(event, 'ENG')" class="intro_lang_toggle_eng">ENG</button>
                </div>
            </div>
            <img src="/img/int.jpg" alt="Novik photo" class="photo">
        </section>
    </div>
    <div class="container-fluid">
        <section class="about">
            <h2 class="about_me">About me</h2>
            <p class="about_info">Hi, I'm Denis – UX/UI designer from Minsk.<br> I'm interested in design and everything connected with it.
            </p><br>
            <p class="about_info">I'm studying at courses "Web and mobile design interfaces" in IT-Academy.
            </p><br>
            <p class="about_info">
                Ready to implement excellent projects<br> with wonderful people.</p>
        </section>
    </div>
    <div class="container">
        <section class="skills">
            <h3 class="skills_header">Skills</h3>
            <p class="skills_info">I work in such programs as</p>
            <div class="pics">
                <img src="img/pic1.jpg" alt="1" class="pic_item_one">
                <img src="img/pic2.jpg" alt="2" class="pic_item_two">
                <img src="img/pic3.jpg" alt="3" class="pic_item_three">
                <img src="img/pic4.jpg" alt="4" class="pic_item_four">
            </div>
        </section>
    </div>
    <div class="container-fluid">
        <section class="portfolio">
            <h4 class="portfolio_header">Portfolio</h4>
            <div class="example">
                <img src="img/portfolio_first.jpg" alt="portfolio_pic" class="portfolio_pics">
                <a href="#!" class="portfolio_sites">Online fashion store - Homepage</a>
            </div>
            <div class="example_two">
                <img src="img/portfolio_second.jpg" alt="portfolio_pic" class="portfolio_pics_two">
                <a href="#!" class="portfolio_sites">Reebok Store - Concept</a>
            </div>
            <div class="example_three">
                <img src="img/portfolio_third.jpg" alt="portfolio_pic" class="portfolio_pics_three">
                <a href="#!" class="portfolio_sites_last">Braun Landing Page - Concept</a>
            </div>
        </section>
    </div>
    <div class="container">
        <footer class="contact_info">
            <section class="contact">
                <h5 class="contacts_header">Contacts</h5>
                <div class="contacts_info">Want to know more or just chat? You are welcome!</div>
                <div class="button_message">
                    <button class="send_message">Send message</button>
                </div>
                <div class="footer_pics">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/" class="footer_links"><img class="in_icon" src="img/in_icon.jpg" alt="linkedin_icon"></a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/?hl=ru" class="footer_links"><img class="inst_icon" src="img/inst_icon.jpg" alt="instagram_icon"></a> 
                    <a target="_blank" rel="noopener noreferrer" href="https://www.behance.net/" class="footer_links"><img class="be_icon" src="img/be_icon.jpg" alt="behance_icon"></a> 
                    <a target="_blank" rel="noopener noreferrer" href="https://dribbble.com/" class="footer_links"><img class="drib_icon" src="img/dribb_icon.jpg" alt="dribble_icon"></a>  
                </div>
                <div class="footer_info">Like me on<br> LinkedIn, Instagram, Behance, Dribble</div>
            </section>
        </footer>
    </div>
</body>


</html>